.SaysCardbx{
    margin: 30px;
    padding: 20px;
    border-radius: 30px;
    width: 300px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transition: 1s;
}

.SaysCardText{
    flex: 1;
    font-size: 20px;
}

.SaysCardbx:hover{
    transform: translate(0, -10%);

}