
.App{
  display: flex;
  height:  100vh;
  overflow: scroll;
  
}

.AppCont{
  flex: 1;
  position: relative;
}

.menuIcon{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  left: 10px;
  display: none;
  cursor: pointer;
  z-index: 10;
} 

@media ( max-width: 768px ) {
  .menuIcon{
    display: block;
  }
  .menuIconbox{
    display: block;
  }
}